@model LearningDiaryAadaV2.Models.Topic

@{
    ViewData["Title"] = "Details";
}
<div class="header-center">
    <h1>Details</h1>
    <h4>Topic</h4>
</div>


<div class="center-block">
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.EstimatedTimeToMaster)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.EstimatedTimeToMaster)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TimeSpent)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.TimeSpent)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.StartLearningDate)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.StartLearningDate)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.InProgress)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.InProgress)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
    </dl>
</div>
<div class="edit-back">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-area="" asp-controller="App" asp-action="GetStarted">Back</a>
</div>
