@model LearningDiaryAadaV2.Models.TaskInTopic

@{
    ViewData["Title"] = "Details";
}

<div class="header-center">
    <h1>Details</h1>
    <h4>Task</h4>
</div>

<div class="center-block">
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Done)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Done)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Topic.Id)
        </dd>
    </dl>
</div>
<div class="edit-back">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-area="" asp-controller="App" asp-action="TaskView">Back</a>
</div>
