@model LearningDiaryAadaV2.Models.Note

@{
    ViewData["Title"] = "Details";
}

<div class="header-center">
    <h1>Details</h1>
    <h4>Note</h4>
</div>

<div class="center-block">
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Note1)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Note1)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Task.Id)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TopicId)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Topic.Id)
        </dd>
    </dl>
</div>
<div class="edit-back">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-area="" asp-controller="App" asp-action="NoteView">Back</a>
</div>
