@model IEnumerable<LearningDiaryAadaV2.Models.Topic>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="app">
    <!--side bar-->
    <aside class="sidebar">
        <header class="header">
            <h1 class="header-title">Learning Diary</h1>
        </header>
        <ul class="sidebar-list" data-categories>
            <li class="sidebar-item"><a asp-area="" asp-controller="App" asp-action="GetStarted">Topics</a></li>
            <li class="sidebar-item"><a asp-area="" asp-controller="App" asp-action="TaskView">Tasks</a></li>
            <li class="sidebar-item"><a asp-area="" asp-controller="App" asp-action="NoteView">Notes</a></li>
        </ul>
    </aside>

    <!--main-->
    <main class="main">
        <!--header-->
        <header class="header">
            <div>
                <h1 class="header-title">Welcome back</h1>
                <div class="currently-viewing" data-currently-viewing>Currently view: Topics</div>
            </div>
        </header>

        <!--cards-->
        <div>
            <a class="create-cta" asp-area="" asp-controller="Topics" asp-action="Create" id="create-ctn">Create new</a>
        </div>
        <section class="cards-container" data-cards>
            @foreach (var item in Model)
             {
            <div class="card" style="border-color:#84ADA6;">
                <a class="detail-cta" asp-area="" asp-controller="Topics" asp-action="Details" asp-route-id="@item.Id">
                    <div class="card-tag" style="background-color: #84ADA6; color: black;">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>

                    <p class="card-description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </a>
                <div class="card-actions">
                    <a asp-area="" asp-controller="Topics" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                    <a asp-area="" asp-controller="Topics" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
                
             }
            </section>
    </main>
</div>